@import '../../styles/shared/breakpoints.scss';

.main {
  position: relative;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

%bg {
  @include breakpoint(lg) {
    display: block;
  }
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  width: 50%;
  height: 100%;
  background: left / cover no-repeat url('./assets/images/background.png');
}

.bg {
  @extend %bg;
}

.bgReset {
  @extend %bg;
  right: 0;
  left: auto;
  background: var(--background-color-reset);
}

.wrapper {
  @include breakpoint(lg) {
    flex-direction: row;
  }
  position: relative;
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: var(--spacing-7);
  width: 100%;
  max-width: var(--max-width);
  min-height: 100vh;
}

.auth {
  @include breakpoint(lg) {
    flex-basis: 50%;
    align-items: center;
  }
  position: relative;
  display: flex;
  flex: 1;
  flex-basis: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.aboutWrapper {
  @include breakpoint(lg) {
    flex-basis: 50%;
  }
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.aboutContent {
  @include breakpoint(lg) {
    display: flex;
  }
  display: none;
  flex-direction: column;
  gap: var(--spacing-4);
  justify-content: center;
  min-height: 100%;
  padding: var(--spacing-6);

  & > svg {
    position: relative;
    left: 50%;
    z-index: 9999;
    width: 85%;
    transform: translateX(-50%);
  }
}

.logo {
  @include breakpoint(lg) {
    position: absolute;
  }
  position: relative;
  top: var(--spacing-9);
  left: var(--spacing-9);
  z-index: 9999;
}

.socialList {
  display: flex;
  gap: var(--spacing-4);

  svg {
    width: var(--spacing-2);
    height: var(--spacing-2);
  }
}
