@import '/src/styles/shared/breakpoints.scss';

.wrapper {
  display: flex;
  justify-content: center;
}

.container {
  width: 100%;
  max-width: var(--max-width);
  height: 100vh;
}

.main {
  position: absolute;
  top: 80px;
  left: 260px;
  z-index: 8;
  width: calc(100% - 260px);
  height: calc(100% - 80px);
  padding: var(--spacing-2) var(--spacing-3);
  overflow: auto;
  background: #fcfcfc;
  scroll-behavior: auto;
}

.header {
  position: fixed;
  top: 0;
  z-index: 9;
  display: flex;
  grid-area: header;
  gap: var(--spacing-6);
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: var(--spacing-7) var(--spacing-5);
  background: var(--background-color);

  p {
    font-size: var(--extraLargeRegular-font-size);
    font-weight: var(--extraLargeRegular-font-weight);
    line-height: var(--extraLargeRegular-line-height);
  }
}
